/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P-Regular";
  --font-weight-heading: 700;
  --font-weight-text: 400;

  --background-color: #ffffff;
  --text-color: #000000;
  --background-pattern: url("../svg/pattern-light.svg");

  --heart-contour: #000000;
  --heart-color: #FF0000;
}
